language: ruby
rvm:
  - 2.2.1
before_install:
  - sudo apt-get install libqtwebkit-dev
  - sudo apt-get install xvfb
  - sudo apt-get install imagemagick
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
notifications:
  email: false
