<div id="hero">
    <div class="page-image" data-collection-id="559f619ee4b0e25e7cfd379b" data-edit-main-image="Banner" data-annotation-alignment="bottom left">
        <div class="image-wrapper">
            <img data-src="http://static1.squarespace.com/static/555e1711e4b09cfed9838ea0/t/559f67c0e4b009271a8f6e64/1436510659234/IMG_0819.jpg" data-image="http://static1.squarespace.com/static/555e1711e4b09cfed9838ea0/t/559f67c0e4b009271a8f6e64/1436510659234/IMG_0819.jpg" data-image-dimensions="1000x667" data-image-focal-point="0.5,0.5" alt="IMG_0819.jpg"  />
        </div>
        <div class="wrapper">
            <h1 class="page-title">Calendar</h1>
            <div class="page-description"></div>
        </div>
    </div>
</div>
