-#  This file is app/views/movies/index.html.haml
%h1 Calendar
%div #{@message}

%table
  %thead
    %tr
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
  %tbody
    - 5.times do 
      %tr
        - 7.times do 
          %td= @month.get_day
%div  
%div
  = link_to "Add Event", new_event_path

%table
  %tbody
    -@events.each do |event|
      %tr= event.name