- # NOTE: The calendar API seems to be buggy. It refuses to refetch the calendar
-         # So I'm forced to reset the div, and rebuild the calendar from scratch
$('#calendar').replaceWith("<div id='calendar'></div>");
$('#calendar').fullCalendar(init_object);
$('#panel').html('#{j render 'default_panel', locals: {msg: @msg}}');

