= form_tag edit_event_path(@event), id: 'update_event', format: :js, method: 'get',  remote: true do
  = render partial: 'event_form', locals: {event: @event}
  = submit_tag "Save Event", class:'button'
