%h4{style: 'text-align:center; font-weight:200'} Edit Event
= form_for @event, :url => event_path(@event), id: 'update_event', format: :js,  remote: true, :multipart => true, authenticity_token: true do |f|
  -# this path does an ajax get to the event controller action update
  #e_image
    %p.field Image Upload
    = f.file_field :image, :id => "image"
>>>>>>> 3677b8d529726c409712417ffa2e7d92e86a9e3f
  = render partial: 'event_form', locals: {event: @event}
  <br/><br/>
  = submit_tag "Save Event", class:'button', style: 'float:right;'
