= form_tag event_path(@event), id: 'update_event', format: :js,  remote: true do
  -# this path does an ajax get to the event controller action update
  = render partial: 'event_form', locals: {event: @event}
  = submit_tag "Save Event", class:'button'
-# = render partial: 'image_form'