= form_tag edit_event_path(@event), id: 'update_event', format: :js, method: 'get',  remote: true, :html => {:multipart => true} do
  = render partial: 'event_form', locals: {event: @event}
  = render partial: 'image_form'
  = submit_tag "Save Event", class:'button'
