= link_to "new event", new_event_path
</br>
- if current_user
  = link_to "Sign Out", "/signout", id: "signout"
- else
  = link_to "login to Meetup", "/auth/meetup", id: "login"
</br>
= link_to "Add 3rd Party Events", third_party_events_path, id: "third_party"
</br></br>

%h1 Events Calendar
</br>

#wrap
  #calendar
  #div{:style => "width=2%;"}
  #panel
    %h2 Event Details
    %p Click an event!
  %div{:style => "clear:both;"}
