== console.log("What up!");
== $('#panel').html('#{j render partial: 'show_panel', locals: {event: @event, timePeriod: @timePeriod, non_anon_guests_by_first_name: @non_anon_guests_by_first_name}}').promise().done(function(){ cosole.log("I'm here"); get_interactive_map();});
== setTimeout(get_interactive_map, 1000);
