- if user_signed_in?
  = link_to "Create new event", new_event_path
  </br>
  = link_to "Add 3rd Party Events", third_party_events_path, id: "third_party"
  </br>
  = link_to "Sign Out", destroy_user_session_path, :method => :delete 
- else
  = link_to "Login", new_user_session_path, :method => :get
</br>

%h1 Events Calendar
</br>

#wrap
  #calendar
  #panel_wrapper
    #panel_header
      %h2{:style => "font-weight:200;"} Event Details
    #panel
      %p Click an event!
      #new.crud
      #edit.crud
      #delete.crud
      %div{:style => "clear:both;"}
    %div{:style => "clear:both;"}

  %div{:style => "clear:both;"}
