$big_button_height: 2.3em;
$font_size: 1.1em;
$dark_red: #B00100;

@mixin button {
  /* dimensions */
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  height: 2.1em;
  padding: 0 .6em;
  position: relative;

  /* text & cursor */
  font-size: 1em; /* normalize */
  white-space: nowrap;
  cursor: pointer;

  border: 1px solid;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

  background-color: #EEEEEE;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;

  &:hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }
}

@mixin text_field {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0.5em 0.3em;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "Gotham", Helvetica, sans-serif;
  color: #7f7f7f;
  font-size: 0.97em;
}

#main {
  width:100%;
  #margin-left:12.5%;
  #margin-right:12.5%;
  margin-bottom: 3%;
  min-width:50em;
}

h1 {
  color: #9f9f9f;
  font-size: 150%;
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  .title {
    margin: 0 0 1em;
    padding: 10px;
    color: #9f9f9f;
    border-bottom: 4px solid #FFA721;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
  }
}

h2 {
  font-weight: normal;
}

#panel {
  line-height: 1.6em;
  overflow-y: scroll;
  overflow-x:hidden;
  padding: 0 0.3em;
  border: 1px solid #ccc;
  width:100%;
  h4 {
    padding-top: 0.5em;
  }
  .field {
    line-height: 1.8em;
  }
  label {
    line-height: 1.9em;
  }
  input {
    line-height: 1.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  select {
    line-height: 1.2em;
    margin-top: 0.3em;
    padding: 0;
  }
  #image {
    padding: 0.2em;
    margin-bottom: 0.2em;
  }
  textarea {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  label {
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}

#e_start_time select, #e_end_time select {
  width: 23%;
  display: inline-block;
  height: 25px;
}

#e_start_time #event_start_2i, #e_end_time #event_end_2i {
  width: 30%;
}

#event_st_number {
  display:inline-block;
  float:left;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0.5em 0.3em;
  width: 23%;
  margin-right: 0.5em;
}

#event_st_name {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0.5em 0.3em;
  width: calc(100% - 23% - 0.5em);
}

#event_city {
  width: 100%;
}

.main_organization {
  background-color: #A6C55F !important;
  border-color: #A6C55F !important;
}

.third_party_organization {
  background-color: #ff8832 !important;
  border-color: #ff8832 !important;

}

.event_creation_button {
  /* dimensions */
  margin: 0 0.2em;
  height: $big_button_height;
  padding: 0 .6em;
  position: relative;

  /* text & cursor */
  white-space: nowrap;
  cursor: pointer;
  color: #333;

  border: 1px solid;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#calendar, #panel_header, #panel_wrapper, #panel, .button {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#calendar {
  width:64%;
  float:left;
  a {
    text-decoration: none;
    &:link {
      color: #111;
    }
    &:visited {
      color: $dark_red;
    }
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
  }
}

.clear {
  clear: both;
}

#title h3 {
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 300;
}

#panel_wrapper {
  width:35%;
  height: 60%;
  float:right;
}

#panel_header h2 {
  text-align: center;
  margin: 0;
  font-weight: 300;
}

#rsvp {
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

.default_event_message {
  text-align: center;
  font-weight:200;
  vertical-align: middle;
}

.crud {
  position: relative;
  float: left;
  min-height: 0.2em;
  min-width: 0.2em;
}

.right {
  position: relative;
  float: right;
  width: calc(100% - 3.55em);
  padding: 0.3em;
  border-left: 1px solid #ccc;
  p {
    margin:0;
  }
}

.left {
  width: 2.3em;
  padding: 0.2em;
  float: left;
  position: relative;
  font-weight: 600;
  p {
    margin:0;
  }
}

#buttons_box {
  margin: 0;
}

.field {
  font-weight: 600 !important;
  margin: 0;
}

#map_frame {
  height: 16.5em;
  margin-top: 0.5em;
}

#time, #location, #description, #find_us, #guests, #e_name, #e_start_date, #e_start_time,
#e_end_date, #e_end_time, #e_location, #e_description, #e_image, #e_organization, #e_venue_name,
#e_how_to_find_us, #buttons_box {
  border-top: 1px solid #ccc;
}

#e_name, #e_start_date, #e_start_time, #e_end_date, #e_end_time, #e_location, #e_description, #e_image,
#e_how_to_find_us, #e_organization, #e_venue_name {
  padding: 0.3em 0;
}

.colored {
  background: #f9f9f9;
}

#time, #description, #find_us, #guests, #location {
  padding: 0.2em;
}

.edit_text_field {
  @include text_field;
  width: 100%;
}

.medium_edit_text_field {
  @include text_field;
  width: 80%;
}

.short_edit_text_field {
  @include text_field;
  width: 23%;
}

#edit_description {
  max-height: 9em;
  overflow-y: scroll;
}

.edit_text_field:focus, .drop_down:focus {
  background: #FFEDD2;
  outline-color: initial;
}

#invalid_form_warnings {
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
  color: #EE5050;
  p {
    margin:0;
  }
}

.edit_text_field_invalid {
  outline-color: #EE5050;
}

.button {
  @include button;
}

.button_right {
  @include button;
  float: right;
}

.button_left {
  @include button;
  float: left;
}

#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

/* Event creation forms*/
#new_event {
  float:right;
}

#third_party {
  float:left;
}

/* Set location fields to invisibile, and then use javascript to show them*/
#e_address, #e_city, #e_state, #e_zip, #e_country {
  display: none
}

#event_creation_box {
  display: inline-block;
  float: right;

}

#admin_panel {
  display: inline-block;

}

.dropdown
{
  font-size: $font_size;
  color: $dark_red;
  li a {
    color: #7f7f7f
  }
  p {
    margin: 0;
    padding: (($big_button_height - $font_size - 0.2em) / 2 ) 0;
  }
}

/* Color for square representing today in calendar*/
.fc-bg .fc-today {
  background:  #bfdfff !important;
}

#available_third_events_table {
  margin: 0;
  table-layout: auto;
  a {
    &:visited {
      color: #B00100;
    }
    &:hover {
      color: #777;
    }
  }
  td, th {
    border-top-width: inherit;
    border-left-width: inherit;
    vertical-align: middle;
    horiz-align: center;
    padding: 0 0.5em;
    line-height: 1.6em
  }
}

#third_events_links {
  text-align: center;
}

#third_events_checks {
  text-align: center;
  input {
    margin: 0;
  }
}

#third_events_list_form {
  overflow-y: scroll;
  border: 1px solid #ccc;
  input {
    margin: 0.5em;
  }
  &.button {
    margin: 0.5em;
  }
}

#names_column {
  width: 15em;
}

.disabled {
  color: #d3d3d3;
}

#title_box {
  margin: 1em 0;
}

/* Override SquareSpace */
#canvas {
  max-width: 1305px !important;
}

#page {
  width: 90% !important;
}

#image_title {
  display: block !important;
}

#hero .wrapper {
  opacity: 1 !important;
}