%div
  = text_field :user, 'email', label: 'email', class: 'edit_text_field', placeholder: "Email", style: 'width:20em;'
<br/>
%div
  = password_field :user, 'password', label: 'password', class: 'edit_text_field', placeholder: "Password", style: 'width:20em;'
