<br/>
<br/>
<br/>
%main{:style => "width:50%; margin-left:25%; margin-right:25%; min-width:30em;"}
  %h1{class: 'title', style: "border-bottom: 4px solid #A6C55F; border-top: 0px;"}
  %div{style:'padding: 1em;'}




    %table#users
      %thead
        %tr 
          %h1{style: 'font-weight:200;'} Remove user accounts
      %tbody
        - @users.each do |user|
          %tr{style: 'border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;'}
            %td= user.email
            %td &nbsp;&nbsp;
            %td= link_to "Delete Account", "/accounts/#{user.id}", :method => :delete, data: {:confirm => "Are you sure? Accounts are deleted permanently"}

    </br>
    = link_to 'Back to calendar', calendar_path, style: 'font-weight:200;'

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  %h1{class: 'title', style: "border-bottom: 4px solid #A6C55F; border-top: 0px;"}
