<br/>
<br/>
<br/>
<div id='main' style="width:50%; margin-left:25%; margin-right:25%; min-width:30em;">
  <h1 class='title' style="border-bottom: 4px solid #A6C55F; border-top: 0px;"></h1>
  <div style='padding: 1em;'>





    <p>Hello <%= @resource.email %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>




    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <h1 class="title" style= "border-top: 4px solid #A6C55F; border-bottom: 0px;"></h1>
</div>